In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

In [2]:
matches = pd.read_csv('../../static/data/dataset_3/IPL_Matches_2008_2022.csv')
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [3]:
balls = pd.read_csv('../../static/data/dataset_3/IPL_Ball_by_Ball_2008_2022.csv')
balls.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [4]:
matches['Season'] = matches['Season'].str.replace('2007/08', '2008')
matches['Season'] = matches['Season'].str.replace('2009/10', '2010')
matches['Season'] = matches['Season'].str.replace('2020/21', '2020')

In [5]:
# Rename old names to new names
matches['Team1'] = matches['Team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['Team1'] = matches['Team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['Team1'] = matches['Team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['Team1'] = matches['Team1'].str.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')


matches['Team2'] = matches['Team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['Team2'] = matches['Team2'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['Team2'] = matches['Team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['Team2'] = matches['Team2'].str.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')


matches['TossWinner'] = matches['TossWinner'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['TossWinner'] = matches['TossWinner'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['TossWinner'] = matches['TossWinner'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['TossWinner'] = matches['TossWinner'].str.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')


matches['WinningTeam'] = matches['WinningTeam'].str.replace('Delhi Daredevils', 'Delhi Capitals')
matches['WinningTeam'] = matches['WinningTeam'].str.replace('Kings XI Punjab', 'Punjab Kings')
matches['WinningTeam'] = matches['WinningTeam'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
matches['WinningTeam'] = matches['WinningTeam'].str.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')

In [6]:
# Rename old names to new names
balls['BattingTeam'] = balls['BattingTeam'].str.replace('Delhi Daredevils', 'Delhi Capitals')
balls['BattingTeam'] = balls['BattingTeam'].str.replace('Kings XI Punjab', 'Punjab Kings')
balls['BattingTeam'] = balls['BattingTeam'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
balls['BattingTeam'] = balls['BattingTeam'].str.replace('Rising Pune Supergiants', 'Rising Pune Supergiant')

In [7]:
# Current teams in IPl
current_teams = [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad', 
    'Delhi Capitals', 
    'Chennai Super Kings',
    'Gujarat Titans', 
    'Lucknow Super Giants', 
    'Kolkata Knight Riders',
    'Punjab Kings', 
    'Mumbai Indians'
]

In [8]:
# Setting data of current teams only
matches = matches[matches['Team1'].isin(current_teams)]
matches = matches[matches['Team2'].isin(current_teams)]
matches = matches[matches['TossWinner'].isin(current_teams)]
matches = matches[matches['WinningTeam'].isin(current_teams)]
matches.shape

(832, 20)

In [9]:
balls = balls[balls['BattingTeam'].isin(current_teams)]

In [ ]:
def get_players(players_str):
    players = players_str[1:-2]
    players = players.split(',')
    players = list(map(lambda player: player[2:-2], players))
    return players

In [ ]:
players = get_players(matches['Team1Players'][0])
players

In [13]:
# Merge the match_df dataset with balls dataset
data = matches.merge(balls, on='ID')
data.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [14]:
res = data[(data['Season'] == '2011') & (data['Team1'] == 'Punjab Kings')]
# most = res.groupby(['batter'])
res

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
147599,501264,Dharamsala,2011-05-21,2011,67,Punjab Kings,Sunrisers Hyderabad,Himachal Pradesh Cricket Association Stadium,Punjab Kings,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
147600,501264,Dharamsala,2011-05-21,2011,67,Punjab Kings,Sunrisers Hyderabad,Himachal Pradesh Cricket Association Stadium,Punjab Kings,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
147601,501264,Dharamsala,2011-05-21,2011,67,Punjab Kings,Sunrisers Hyderabad,Himachal Pradesh Cricket Association Stadium,Punjab Kings,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
147602,501264,Dharamsala,2011-05-21,2011,67,Punjab Kings,Sunrisers Hyderabad,Himachal Pradesh Cricket Association Stadium,Punjab Kings,field,...,NaN,2,0,2,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
147603,501264,Dharamsala,2011-05-21,2011,67,Punjab Kings,Sunrisers Hyderabad,Himachal Pradesh Cricket Association Stadium,Punjab Kings,field,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Sunrisers Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155607,501206,Chandigarh,2011-04-13,2011,9,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,field,...,NaN,4,0,4,0,0,NaN,NaN,NaN,Punjab Kings
155608,501206,Chandigarh,2011-04-13,2011,9,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Punjab Kings
155609,501206,Chandigarh,2011-04-13,2011,9,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,field,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Punjab Kings
155610,501206,Chandigarh,2011-04-13,2011,9,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,field,...,NaN,4,0,4,0,0,NaN,NaN,NaN,Punjab Kings
155611,501206,Chandigarh,2011-04-13,2011,9,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,field,...,NaN,6,0,6,0,0,NaN,NaN,NaN,Punjab Kings

In [ ]:
def get_most_fours_by_season(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 4].groupby(['batter', 'Season']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data.loc[new_data['batsman_run'] == 4, ['batter', 'Season']].groupby(['batter', 'Season']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
    else:
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 4].groupby('batter').size().reset_index(name='count')
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 4].groupby('batter').size().reset_index(name='count')[::-1]
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours

In [ ]:
most_fours_2022 = get_most_fours_by_season(season='2012', team='Delhi Capitals')
most_fours_2022

In [ ]:
def get_most_fours_by_inning(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 4].groupby(['batter', 'Season', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 4].groupby(['batter', 'Season', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
    else:
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 4].groupby(['batter', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 4].groupby(['batter', 'ID', 'innings']).size().reset_index(name='count')[::-1]
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours

In [ ]:
most_fours_2022_innings = get_most_fours_by_inning(season='2022')
most_fours_2022_innings

In [ ]:
def get_most_sixes_by_season(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 6].groupby(['batter', 'Season']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 6].groupby(['batter', 'Season']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
    else:
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 6].groupby('batter').size().reset_index(name='count')
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 6].groupby('batter').size().reset_index(name='count')[::-1]
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours

In [ ]:
most_sixes_2022 = get_most_sixes_by_season(season='2022', team='Chennai Super Kings')
most_sixes_2022

In [ ]:
def get_most_sixes_by_inning(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 6].groupby(['batter', 'Season', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 6].groupby(['batter', 'Season', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours[most_fours['Season'] == season].sort_values('count')[::-1]
            return most_fours
    else:
        if team == 'allteams':
            most_fours = data[data['batsman_run'] == 6].groupby(['batter', 'ID', 'innings']).size().reset_index(name='count')
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fours = new_data[new_data['batsman_run'] == 6].groupby(['batter', 'ID', 'innings']).size().reset_index(name='count')[::-1]
            most_fours = most_fours.sort_values('count')[::-1]
            return most_fours

In [ ]:
most_sixes_2022_innings = get_most_sixes_by_inning(season='2008')
most_sixes_2022_innings

In [ ]:
def get_most_fifties(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            new_data = data[data['Season'] == season]
            most_fifties = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_fifties = most_fifties[(most_fifties['runs'] >= 50) & (most_fifties['runs'] < 100)]
            most_fifties = most_fifties.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_fifties
        else:
            new_data = data[(data['BattingTeam'] == team) & (data['Season'] == season)]
            most_fifties = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_fifties = most_fifties[(most_fifties['runs'] >= 50) & (most_fifties['runs'] < 100)]
            most_fifties = most_fifties.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_fifties
    else:
        if team == 'allteams':
            most_fifties = data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_fifties = most_fifties[(most_fifties['runs'] >= 50) & (most_fifties['runs'] < 100)]
            most_fifties = most_fifties.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_fifties
        else:
            new_data = data[data['BattingTeam'] == team]
            most_fifties = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_fifties = most_fifties[(most_fifties['runs'] >= 50) & (most_fifties['runs'] < 100)]
            most_fifties = most_fifties.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_fifties

In [ ]:
most_fifties = get_most_fifties(season='2011', team='Punjab Kings')
most_fifties

In [ ]:
def get_most_centuries(season='alltime', team='allteams'):
    if season != 'alltime':
        if team == 'allteams':
            new_data = data[data['Season'] == season]
            most_centuries = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_centuries = most_centuries[most_centuries['runs'] >= 100]
            most_centuries = most_centuries.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_centuries
        else:
            new_data = data[(data['BattingTeam'] == team) & (data['Season'] == season)]
            most_centuries = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_centuries = most_centuries[most_centuries['runs'] >= 100]
            most_centuries = most_centuries.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_centuries
    else:
        if team == 'allteams':
            most_centuries = data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_centuries = most_centuries[most_centuries['runs'] >= 100]
            most_centuries = most_centuries.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_centuries
        else:
            new_data = data[data['BattingTeam'] == team]
            most_centuries = new_data.groupby(['batter', 'ID', 'innings'])['batsman_run'].sum().reset_index(name='runs')
            most_centuries = most_centuries[most_centuries['runs'] >= 100]
            most_centuries = most_centuries.groupby('batter').size().reset_index(name='count').sort_values('count')[::-1]
            return most_centuries

In [ ]:
most_centuries = get_most_centuries(season='2011', team='Punjab Kings')
most_centuries

In [42]:
def total_fours_season(season='alltime'):
    if season == 'alltime':
        total_fours = (data['total_run'] == 4).value_counts()[True]
        return total_fours
    else:
        total_fours = data.groupby('Season')['total_run'].apply(lambda x: (x == 4).sum()).reset_index(name='count')
        return total_fours[total_fours['Season'] == season]

In [43]:
fours = total_fours_season(season='2022')
fours

   Season  count
14   2022   2049

In [44]:
def total_sixes_season(season='alltime'):
    if season == 'alltime':
        total_sixes = (data['total_run'] == 6).value_counts()[True]
        return total_sixes
    else:
        total_sixes = data.groupby('Season')['total_run'].apply(lambda x: (x == 6).sum()).reset_index(name='count')
        return total_sixes[total_sixes['Season'] == season]

In [49]:
sixex = total_sixes_season(season='2022')
sixex

   Season  count
14   2022   1057